/* shared styles   */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 14px 20px;
    border: 0;
    font-size: 1.25rem;

    font-weight: 600;

}

/* header styles stat here  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
    list-style: none;

}

nav li {

    font-size: 1rem;
    font-weight: 500;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner style started here   */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;


    font-size: 4rem;

    font-weight: 700;

}

.banner-discription {
    color: #727272;


    font-size: 1rem;

    font-weight: 400;

}

.banner-image {
    margin-top: 20px;
    width: 100%;
}

/* main styles  */

main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.team-title {
    font-size: 2.8rem;
    width: 450px;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

.team-discription {
    color: #727272;
    font-size: 1rem;
    margin-bottom: 1.5rem;

    font-weight: 400;

}
.facts-discription{
    color: #727272;
    width: 530px;

font-size: 1rem;

font-weight: 400;



}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    
}
.facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding:  30px;
}
.facts-card-container .card-stats{
    color: #424242;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    color: #727272;
    font-size: 1.2rem;
    margin-top: 5px;
}
.sponsors{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
.sponsors-img-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.sponsors-img-container img{
    width: 165px;

}
.footer-section{
    width: 1440px;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
background: #FFF4E7;
}
.footer-section p{
    color:  #424242;


font-size: 1.2rem;

font-weight: 400;

}
.section-title{
    margin-top: 100px;
    color: #131313;
    

font-size: 2.8rem;

font-weight: 700;

}
 .border{
border-left: 5px solid #FF900E;
padding-left: 20px;
}
.features-discription{
    width: 586px;
    color: #727272;

font-size: 1rem;

font-weight: 400;

}
.card-discription{
    width: 514px;
    color:  #727272;

font-size: 1rem;

font-weight: 400;

}
.feature{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.features-content .cards{
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
margin-bottom: 20px;
}
.ten-years-batch{
    border-radius: 8px;
background: #FF900E;
color: #FFF;
width: 345px;
padding: 40px;
text-align: center;
position: relative;
bottom: 100px;
}
.ten-years-batch h3{
    font-size: 4rem;
    margin: 0;
}
.ten-years-batch p{
    font-size: 1.5rem;
}
.features-img img{
    height: 90%;
    margin-left: 90px;
}



/* responsive media started here  */

@media screen and (max-width:576px) {
    header  {
        padding: 20px;
        width: auto;
    }

    nav, .teams-container , .facts-card-container , .sponsors-img-container , .footer-section
    , .feature
    {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content, .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .facts-card-container{
        gap: 20px;
        
    }
    .footer-section{
        width: auto;
    }
    .features-img img{
        width: 100%;
    }
    
}

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 40px;
    }

    nav, .teams-container , .facts-card-container , .sponsors-img-container , .footer-section  {
        flex-direction: column;
    }
    .teams-content, .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .facts-card-container{
        gap: 20px;
        
    }
    .footer-section{
        width: auto;
    }
}